# === Среда и секреты ===
.env
.env.*
!.env.example

# === Зависимости ===
/vendor
/node_modules

# === Артефакты сборки ===
/public/build
/public/hot
/public/storage

# === Laravel runtime ===
/storage/*.key
/storage/pail
/storage/app/public
/storage/logs/*
!/storage/logs/.gitkeep
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
bootstrap/cache/

# === Тесты ===
.phpunit.result.cache
/.phpunit.cache

# === IDE и редакторы ===
/.idea
/.vscode
/.fleet
/.nova
/.zed
.phpactor.json

# === Docker ===
sail


docs

# === Разное ===
*.log
.DS_Store
Thumbs.db
Homestead.json
Homestead.yaml
/auth.json
vite.config.js
